<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Controladores.Registro</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>BorradoProfesores</servlet-name>
        <servlet-class>Controladores.BorradoProfesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorradoCursos</servlet-name>
        <servlet-class>Controladores.BorradoCursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorradoInscripciones</servlet-name>
        <servlet-class>Controladores.BorradoInscripciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estudianteControlador</servlet-name>
        <servlet-class>Controladores.estudianteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>herrmientaControlador</servlet-name>
        <servlet-class>Controladores.herrmientaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estudianteActualizador</servlet-name>
        <servlet-class>Controladores.estudianteActualizador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorradoProfesores</servlet-name>
        <url-pattern>/BorradoProfesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorradoCursos</servlet-name>
        <url-pattern>/BorradoCursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorradoInscripciones</servlet-name>
        <url-pattern>/BorradoInscripciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estudianteControlador</servlet-name>
        <url-pattern>/estudianteControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>herrmientaControlador</servlet-name>
        <url-pattern>/herrmientaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estudianteActualizador</servlet-name>
        <url-pattern>/estudianteActualizador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
